<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/stylesheets/editProduct.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

    <section class="main">





        <div class="main__contact">

            <h2 class="main__title">Agregar Productos</h2>
            <p class="main__paragraph">solo el administrador puede Agregar sus productos</p>

            <form class="main__form" action="" method="POST" enctype="multipart/form-data" novalidate>
                <figure class="main__figure">
                    <img id="productImagen"  src="/img/agrega.png" class="main__img">
                    <input type="file" class="main__input" for="productImagen" name="images" accept="image/*" multiple
                    required>
                </figure>

                <h2>nombre producto</h2>
                <input type="text" placeholder="Nombre del producto" class="main__input" name="name" >

                <h2>precio del producto</h2>

                <input type="number" placeholder="Precio" class="main__input" name="price">

                <h2>categorias</h2>
                <select class="main__input" name="categoryId" id="">
                    <% categorias.forEach(categoria => { %>
                     <option  value="<%= categoria.id %>"> <%= categoria.name %> </option>
                    <% }) %>
                </select>
                


                <h2>descripcion</h2>
                <input type="text" placeholder="Descripcion" class="main__input" name="description">

                <input type="submit" value="guardar" class="main__input main__input--send">

            </form>


        </div>

    </section>



</body>

</html>